/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--third-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  font-size: 14px;
}

@media screen and (min-width: 600px){
  html{
    font-size: 16px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--primary-color);
  color: var(--light-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 440px;
}

@media screen and (min-width: 600px) {
  .container{   
    max-width: 640px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 940px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}

.logo {
  font-size: 1rem;

  gap: 3px;
  flex-shrink: 0;

  display: flex;
  align-items: flex-end;
}

.logo:hover {
  color: currentColor;
  text-decoration: none;
}

.logo .desc {
  font-size: 0.5em;
}

.anchor{
  position: fixed;


  --size: 50px;

  width: var(--size);
  height: var(--size);

  top: 90%;
  right: 5%;

  transform: translateX(200%) scale(0);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  background-color: var(--third-color);
  color: white;

  cursor: pointer;

  font-size: 1.875rem;
  font-weight: bold;

  opacity: 0;

  transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.5s cubic-bezier(.76,.04,.44,1.57);
}

.anchor.active{
  transform: translateX(0) scale(1);
  opacity: 1;
}

.anchor:hover,
.anchor:focus{
  background-color: var(--secondary-color);
  text-decoration: none;
}

.flex-container {
  --flex-items: 3;
  --flex-items-gap: 25px;

  display: flex;
  gap: var(--flex-items-gap);
  flex-wrap: wrap;
}

.flex-container > * {
  flex-basis: calc(
    (100% - (var(--flex-items) - 1) * var(--flex-items-gap)) / var(--flex-items)
  );
}