.hero{
    padding: 50px 0;
    text-align: center;

    margin-bottom: 50px;
}

@media screen and (min-width: 600px){
    .hero{
        padding: 100px 0;
    }
}

.hero-title, .hero-text{
      color: #fff;
  text-shadow:
    -1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px 1px 0 #000;
}

.hero-title{
    font-size: 1rem;
    margin-bottom: 1.5em;
}

@media screen and (min-width: 600px){
    .hero-title{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 900px){
    .hero-title{
        font-size: 2.5rem;
    }
}

.hero-text{
    margin: 0 auto;
    
    font-size: 0.65rem;
    margin-bottom: 4.1em;

    width: 100%;
    max-width: 31em;
}

@media screen and (min-width: 600px){
    .hero-text{
        font-size: 1rem;
    }
}

@media screen and (min-width: 900px){
    .hero-text{
        font-size: 1.2rem;
    }
}

.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: var(--border-radius);
    background-color: var(--third-color);
    
    margin: 0 auto;
    
    width: fit-content;
    
    transition: background-color 0.3s ease;

    padding: 10px;

    font-size: 1rem;
}

.hero-button:hover,
.hero-button:focus
{
    background-color: var(--secondary-color);
    text-decoration: none;
    color: white;
}