.main-slider-section-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    gap: 30px;

    margin-bottom: 40px;
}

@media screen and (min-width: 600px){
    .main-slider-section-block{
        flex-direction: row;
    }
}